.sidebar {
    width: 220px;
    transition: width 0.3s ease;
    height: 85vh;
    background: linear-gradient(to bottom, #2b0a41, #56317a);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 1.4rem 1.2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: fixed;
    left: 0;
    top: 11vh;
    z-index: 1000;
    overflow: hidden; /* Hacemos que el scroll solo aparezca dentro del contenedor */
    
    &.collapsed {
      width: 90px;
      padding: 1.4rem 0.6rem;
    
      .nav-item i,
      .logout-button i,
      .toggle-btn i {
        font-size: 0.8rem;
      }
    
      .label {
        display: none;
      }
    }
    
    .sidebar-header {
      display: flex;
      justify-content: center;
      margin-bottom: 1.2rem;
    
      .logo-icon {
        font-size: 1rem;
        color: #c9c3ff;
      }
    }
    
    .toggle-btn {
      background: none;
      border: none;
      color: #c9c3ff;
      cursor: pointer;
      font-size: 1.1rem;
      margin-bottom: 1rem;
      width: 36px;
      height: 36px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    
      &:hover {
        background-color: #3e215d;
      }
    
      i {
        transition: transform 0.3s ease;
      }
    }
    
    .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 0.8rem;
      overflow-y: auto; /* Activamos el scroll cuando sea necesario */
      overflow-x: hidden;
      max-height: 70%;
      padding-right: 0.2rem;
      scrollbar-width: thin; /* Ajustamos el grosor del scroll */
    
      /* Estilo para el scrollbar */
      &::-webkit-scrollbar {
        width: 10px; /* Aseguramos que el scrollbar sea visible */
        background-color: rgba(0, 0, 0, 0.1); /* Fondo sutil para el track */
        border-radius: 5px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.6); /* Thumb semi-transparente */
        border-radius: 5px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.2); /* Track transparente */
        border-radius: 5px;
      }
    
      .nav-item {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding: 0.4rem 0.4rem;
        height: 36px;
        border-radius: 12px;
        color: #eae8f6;
        font-size: 0.75rem;
        transition: background 0.3s, color 0.3s;
        text-decoration: none;
        position: relative;
    
        i {
          width: 18px;
          height: 18px;
          font-size: 0.85rem;
          text-align: center;
        }
    
        .label {
          white-space: nowrap;
          font-size: 0.75rem;
          color: #eae8f6;
    
          &:hover {
            color: #ffffff;
          }
        }
    
        .tooltip {
          position: absolute;
          background-color: #3e215d;
          color: white;
          padding: 0.25rem 0.5rem;
          border-radius: 5px;
          font-size: 0.7rem;
          white-space: nowrap;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          pointer-events: none;
          z-index: 100;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
        }
    
        &:hover {
          background-color: #3e215d;
          color: #ffffff;
        }
    
        &.active {
          background-color: #56317a;
          color: #fff;
          font-weight: bold;
          border-left: 6px solid #c9c3ff;
          padding-left: 1rem;
    
          i {
            font-size: 0.8rem;
            transform: scale(0.9);
          }
        }
      }
    }
    
    .sidebar-footer {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    
      .logout-button {
        background: none;
        border: none;
        color: #c9c3ff;
        cursor: pointer;
        font-size: 0.8rem;
        height: 32px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 0.4rem;
        text-decoration: none;
    
        i {
          width: 18px;
          font-size: 0.85rem;
          text-align: center;
        }
    
        .label {
          white-space: nowrap;
          font-size: 0.75rem;
          color: #c9c3ff;
    
          &:hover {
            color: #ffffff;
          }
        }
    
        &:hover {
          background-color: #3e215d;
          color: #fff;
        }
      }
    }
  }